<header>
		<div class="container">
			<div class="logo">
				<h1>College Tour Planner</h1>
			</div>
			<nav class="nav-main">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/colleges">Colleges</a></li>
					<li><a href="/users/<%=@user.username%>">My List</a></li>
					<li><a href="/users/<%=@user.username%>/edit">Edit My List</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div><!--.container-->
	</header>

<div class="feature">
<div class="college_name">
<h2><%=@college.name%></h2>
<p><%=@college.location%></p>
<p><%=@college.enrollment%></p>
<p><%=@college.tuition%></p>
<p>Acceptance Rate: <%=@college.acceptance_rate%></p>
<p>Type of college: <%=@college.college_type%></p>
<p>Setting: <%=@college.setting%></p>
<p>My Notes: <%=@user_college.my_notes%></p> 
</div>

<button><a href="/notes/<%=@user.username%>/<%=@college.id%>/edit">Edit this note</a></button>
</div>



